body {
    background-color: #23637c;
}

.card-text {
    color: #d3d9d4;
}

.dark-text {
    color: #000000;
}

.gradient-text {
    background: linear-gradient(90deg, #9d82e8, #82e8d9); /* Define your gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
}

.button-color {
    background-color: #2dbbb9;
    color: #eeeeee;
}  

.button-color:hover {
    background-color: #66b8b7ca;
}

.small-text-post {
    font-size: 0.8rem;
}

.small-text-comment {
    font-size: 0.6rem;
}


.card-style {
    background: transparent;
    border-color: #d3d9d4;
    color: #d3d9d4;
}

.flex-jc-c {
    display: flex;
    justify-content: center;
}

/* ----------------- naavbar ----------------------------- */


.navbar-img {
    width: 4%;
    height: 4%;
}

/* ----------------- Alerts ----------------------------- */

.alert-delete {
    background-color: #ff9595;
    color: #eeeeee; 
    padding: 2%;
    
}


/* ----------------- Modals ----------------------------- */
.modal-color {
    background-color: #23637c;
    color: #d3d9d4;
} 

/* ----------------- Comments ----------------------------- */

.comment-detail {
    width: fit-content;
    margin: 1%;
    border: 1px solid #d3d9d4;
}

.comment-text {
    margin: 4px 8px 4px 8px;
    font-size: 1rem;
}

.comment-date-username {
    margin: 4px 8px 4px 8px;
    font-size: 0.7rem;
}

/* For thrashcan and pencil icon for editing comments etc. */

.icon {
    font-size: 0.7rem;
    cursor: pointer;
}

.icon-div {
    display: inline-block;
}


/* ----------------- Cancel button----------------------------- */
.cancel-btn:hover {
    background-color: rgb(255, 149, 149);
    color: #eeeeee;
}