/* You can add global styles to this file, and also import other style files */
body {
    background-color: #23637c;
}

.card-text {
    color: #d3d9d4;
}

.button-color {
    background-color: #2dbbb9;
    color: #eeeeee;
}  

.button-color:hover {
    background-color: #66b8b7ca;
}

.small-text-post {
    font-size: 0.8rem;
}

.small-text-comment {
    font-size: 0.6rem;
}