<app-landing-navbar></app-landing-navbar>
<div class="container spacing-signin">  
  <div class="custom-width">
    <div class="row align-items-center">
      <div class="col d-flex flex-column justify-content-center align-items-center mt-5 text-center">
        <img src="assets/images/creative-cloud-red.png" alt="" class="w-50">
        <h3 class="card-text mt-3">Are you ready for <span class="gradient-text">your</span> idea to take off?</h3>
          <!-- TODO: Keep working on the columns here -->
      </div>
      <div class="col d-flex justify-content-center">
        <app-sign-up></app-sign-up>
        <app-sign-in class="sign-in-width "></app-sign-in>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center carousel-bg ">
  <div id="carouselExampleIndicators" class="carousel slide w-75 text-center margin-carousel " data-bs-theme="dark">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <h3>Some of the greatest ideas started right here on CoCreate</h3>
      <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <h1>Facebook</h1>
          <img src="assets/images/fb-logo.png" class="w-25" alt="Facebook logo image">
        </div>
        <div class="carousel-item">
          <h1>Twitter</h1>
          <img src="assets/images/twitter-logo.png" class="w-25" alt="Twitter logo image">
        </div>
        <div class="carousel-item">
          <h1>Soundcloud</h1>
          <img src="assets/images/soundcloud-logo.png" class="w-25" alt="Twitter logo image">
        </div>
        <div class="carousel-item">
          <h1>Reddit</h1>
          <img src="assets/images/reddit-logo.png" class="w-25" alt="Twitter logo image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
 <app-footer></app-footer> 
