<app-landing-navbar></app-landing-navbar>
<div class="container spacing-signin">  
  <div class="custom-width">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-center mt-5">
        <img src="assets/images/rocket-logo.png" alt="" class="w-50">
          <!-- TODO: Keep working on the columns here -->
      </div>
      <div class="col d-flex justify-content-center">
        <app-sign-up></app-sign-up>
        <app-sign-in></app-sign-in>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div id="carouselExampleIndicators" class="carousel slide w-75 text-center card-text margin-carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <h3>Examples of companies that started right here on CoCreate</h3>
      <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <h1>Facebook</h1>
          <img src="assets/images/fb-logo.png" class="w-25" alt="Facebook logo image">
        </div>
        <div class="carousel-item">
          <h1>Twitter</h1>
          <img src="assets/images/twitter-logo.png" class="w-25" alt="Twitter logo image">
        </div>
        <div class="carousel-item">
          <h1>Soundcloud</h1>
          <img src="assets/images/soundcloud-logo.png" class="w-25" alt="Twitter logo image">
        </div>
        <div class="carousel-item">
          <h1>Reddit</h1>
          <img src="assets/images/reddit-logo.png" class="w-25" alt="Twitter logo image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div>
  <!-- TODO: Add a footer  here -->
  <footer>
    FOOTER
  </footer>
</div>