
<app-navbar></app-navbar>
<div class="parent-welcome">
  <div class="welcome-div ">
    <h3 class="welcome-msg">Welcome to your dashboard, <span class="gradient-text">{{ userName }}.</span></h3>
      <div class="d-flex justify-content-between w-100">
        <app-filter></app-filter>
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createPostModal">Create post</button>
      </div>
  </div>
</div>
<app-project-card 
[posts]="posts"
[devId]="developerId"
[devUserName]="userName"
(postUpdated)="getAllPosts()"
(postDeleted)="getAllPosts()"
></app-project-card>
<app-create-post 
[devId]="developerId"
(postCreated)="getAllPosts()"
></app-create-post>
<app-footer></app-footer>

