<div class="parent-welcome">
  <div class="welcome-div">
    <h3 class="welcome-msg">Welcome to your dashboard, {{ userName }}.</h3>
    <button class="btn btn-outline-light show-projects-btn me-2" (click)="getAllPosts()">Show posts</button>
    <button class="btn btn-outline-light" (click)="createPost()">Create post</button>
  </div>
  <div>
  </div>
  <div></div>
</div>
<app-project-card 
*ngIf="activeView === 'showPosts'" 
[posts]="posts"
[devId]="developerId"
[devUserName]="userName"
(postUpdated)="getAllPosts()"
(postDeleted)="getAllPosts()"
></app-project-card>
<app-create-post *ngIf="activeView === 'createPost'" [devId]="developerId"></app-create-post>
