.icona {
    cursor: pointer;
    /* border: 1px solid #d3d9d4; */
    /* border-radius: 50%;                      */
}

.icona:hover {
    transition: transform 0.2s ease-in-out; 
    transform: scale(1.3); /* Increases size by 20% */
}

.btn-close {
    filter: invert(1);
}
