

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.invalid-msg {
    color: red;
}

.logo-styling {
    width: 15%;
}
