<div class=" modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content modal-color">
        <div  data-bs-theme="dark" class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ postTitle }}</h1>
          <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
          <p>{{ postDescription }}</p>
          <div class="row" *ngIf="postComments.length > 0; else noComments" >
            <div>
              <div class="card card-div-detail modal-color" *ngFor="let comment of postComments">
                <div class="">
                  <div class="icon-div" *ngIf="commentToEdit !== comment.commentId;">
                    <p class="my-1 mx-2">{{ comment.content }} </p> 
                  </div>
                  <div *ngIf="commentToEdit === comment.commentId">
                    <ng-container *ngTemplateOutlet="editCommentTextArea; context: { commentId: comment.commentId }"></ng-container>
                  </div>

                  <!-- create a ngif div here that renders the form to change the comment, the crux is to only make it appear on the desired comment and not all of them though -->
                  <div *ngIf="comment.developer.userName === signedInUser">
                    <div class="icon-div" >
                      <a routerLink="" (click)="editComment(comment.commentId)"><i class="bi bi-pencil-fill mx-2 icon"></i></a>
                      <a routerLink="" (click)="deleteComment(comment.commentId, postId)"><i class="bi bi-trash3-fill icon me-2 text-danger"></i></a>
                    </div>
                  </div>
                  <div>
                    <div class="">
                      <p class="mb-2 mx-2 posted-by"> {{ comment.developer.userName}}</p>
                    </div>
                  
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- ------------ Form create comment ------------------ -->
          <div class="mb-3 modal-color">
            <form class="modal-color" action="" #commentForm="ngForm" (ngSubmit)="createComment()">
              <label for="exampleFormControlTextarea1" class="form-label">Sounds interesting? Write a comment below</label>
              <textarea class="form-control" name="commentText" rows="3" #textAreaRef="ngModel" [(ngModel)]="commentContent" required></textarea>
              <small *ngIf="textAreaRef.touched && textAreaRef.invalid" class="invalid-msg">*The comment cannot be empty</small>
              <div class="text-center">
                <input value="Comment" type="submit" class="btn btn-outline-light mt-2 w-50" [disabled]="textAreaRef.invalid">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <small>Posted by {{ postAuthor == signedInUser? 'you' : postAuthor}}</small>
  
          </div>
        </div>
        <ng-template #noComments >Be the first to comment on this post</ng-template>
          
        <!-- ------------ Form edit comment ------------------ -->
        <ng-template #editCommentTextArea let-commentId="commentId">
         <div class="mx-2">
          <form action="" #editCommentForm="ngForm" (ngSubmit)="editCommentInForm(commentId)"> 
            <label for="">Edit comment</label>
            <textarea name="editCommentText" class="form-control" rows="2" #editCommentTextAreaRef="ngModel" [(ngModel)]="editCommentContent" required></textarea>
            <small *ngIf="editCommentTextAreaRef.touched && editCommentTextAreaRef.invalid" class="invalid-msg">*The comment cannot be empty</small>
            <div class="my-2">
              <input type="submit" value="Edit" class="btn btn-outline-light me-1" [disabled]="editCommentTextAreaRef.invalid">
              <!-- type="button" is necessary, without it the form will treat all buttons as submit buttons -->
              <button type="button"  class="btn btn-outline-light" (click)="cancelEditComment()">Cancel</button>
            </div>
          </form>
         </div>
        </ng-template>
      </div>
    </div>
  </div>