.row-div {
    display: flex;
    justify-content: center;
}

.card-body-div {
    text-align: center;
}


.card-body-div button {
    width: 100%;
}

.card-div-detail {
    width: fit-content;
    margin: 1%;
    border: 1px solid #d3d9d4;
}

.invalid-msg {
    color: rgb(255, 152, 152);
}

.modal-color {
    background-color: #23637c;
    color: #d3d9d4;
} 

.posted-by {
    font-size: small;
}

.icon{
     font-size: 0.7rem;
     cursor: pointer;
}

.icon-div {
    display: inline-block;
}

.icon-post {
    font-size: 1rem;
    cursor: pointer;
}