    <button type="button" class="btn btn-outline-light dropdown-toggle filter-btn"  data-bs-toggle="dropdown" > <i class="bi bi-funnel fs-5 text-light filter-icon"></i> Filter</button>
    <ul class="dropdown-menu filter-bg bg-gradient"> 
        <li class="form-check checkbox-spacing" *ngFor="let language of languages">
            <input class="form-check-input" type="checkbox" name="{{language}}" [(ngModel)]="languagesTicked[language]" value="" id="check{{language}}">
            <label class="form-check-label card-text" for="check{{language}}">
                {{ language }}
            </label>
        </li>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-outline-light" (click)="showResults()">Show results</button>
        </div>
    </ul>
