<!-- <div class="mb-3 modal-color">
    <form class="modal-color" action="" #commentForm="ngForm" (ngSubmit)="createComment()">
        <label for="exampleFormControlTextarea1" class="form-label">Sounds interesting? Write a comment below</label>
        <textarea [disabled]="" class="form-control" name="commentText" rows="3" #textAreaRef="ngModel" [(ngModel)]="commentContent" required></textarea>
        <small *ngIf="textAreaRef.touched && textAreaRef.invalid" class="invalid-msg">*The comment cannot be empty</small>
        <div class="text-center">
        <input value="Comment" type="submit" class="btn btn-outline-light mt-2 w-50" [disabled]="textAreaRef.invalid || deletePostPressed ">
        </div>
    </form>
</div> -->

<!-- //TODO: keep working on this create entry component for creating comments on posts in profile page -->