<div class="row row-div">
  <div class="card col-sm-2 card-div m-2 card-style" *ngFor="let post of posts">
    <div class="card-body card-body-div card-text">
      <h4 class="card-title">{{ post.title }}</h4>
      <br>
      <div class="post-details">
        <img src="assets/images/{{post.developer?.preferredLanguage}}.png" class="code-lang-img"> 
        <span class="badge rounded-pill text-bg-info"><i class="bi bi-chat-right-text-fill"></i> {{ post.comments.length }}</span>
         
        <span class="badge rounded-pill text-bg-info"><i class="bi bi-code-square "></i> {{ post.devCategory }}</span>
      </div>
    </div>
    <div class="card-footer footer-div card-style">
      <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#postModal" (click)="openPostDetails(post)">Show details</button>
      <div class="text-center">
        <small class="">Posted by {{ post.developer?.userName === devUserName? 'you' : post.developer?.userName}}</small>
        <br>
        <p class="small-text-post">{{ util.convertDate(post.createdAt!) }}</p>
      </div>
    </div>
  </div>
</div>
<app-project-modal
[post]="currentPost"
[devId]="devId"
[signedInUser]="devUserName"
(commentUpdated)="onCommentUpdated($event)"
(postDeleted)="onPostDeleted($event)"
(postContentUpdated)="onPostUpdated($event)"
></app-project-modal>

<!-- [postTitle]="currentPost.title"
[postDescription]="selectedPostContent"
[postDevCategory]="selectedPostDevCategory"
[postAuthor]="selectedPostAuthor"
[postComments]="selectedPostComments"
[postId]="selectedPostId" -->