.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(0, 255, 115, 0.607); */
  height: 80vh;
}

.card-div {
  display: flex;
  justify-content: center;
  width: 25%;
  border: 2px solid rgb(2, 171, 78);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4%;
  }
